$url: 'https://hero.thewebpromoters.com/';

$color-dimgray: #333333;
$color-gray: #EAEAEA;
$color-white: #ffffff;
$color-blue: #072F87;
$color-cyan: #00B5E2;
$color-red: #EB0028;
$color-yellow: #F7CE3C;
$color-purple: #7D55C7;
$color-teal: #008295;
$color-green: #85B93C;
$color-brown: #B86125;
$color-burgundy: #7F3035;

/*
$colors: (
    theme-green: #8DBF2E;
    theme-yellow: #EEB927;
    theme-blue: #00689e;
    theme-teal: #008F8F;
    theme-orange: #E07918;    
);
*/


